<p>
  {{one-way-checkbox
      checked=checkAll
      update=(action "updateCheckAll")}}
  <label for="toggle-all">Toggle All:</label>
</p>

<ul>
  {{#each model as |color|}}
    {{checkbox-item
        model=color
        checkAll=checkAll
        force=force
        register=(action "register")
        unregister=(action "unregister")
        did-update-is-checked=(action "sync")}}
  {{/each}}
</ul>
